{% extends 'base.html' %}

{% block content %}
    <h1>Authors</h1>
    <div class="row">
        {% for author in authors %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ author.author_name }}</h5>
                        <p class="card-text">{{ author.bio }}</p>
                        <a href="#" class="btn btn-primary">{{ author.status }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}